<html>
<head>
<style>
.bar {
  width: 300px;
}

#progress {
  background: #eee;
  border: 1px solid #222;
}
#progressbar {
  width: 0px;
  height: 24px;
  background: #333;
}
</style>
</head>
<body>
  <form id="upload" enctype="multipart/form-data"
      action="/uas1/" method="post">
        {% csrf_token %}
    <input type="text" name="username"/></br>
    <input type="password" name="password" /></br>
    <input type="hidden" name="MAX_FILE_SIZE" value="30000000"  />
    <input name="userfile" type="file" label="fileupload" />
    <input type="submit" value="Send File" />
    </form>

  
<div id="jam">

</div>
<label id="minutes">00</label>:<label id="seconds">00</label>
<div id="jam2">

</div>
<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
 <script src="http://malsup.github.com/jquery.form.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
 <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
 <script type = "text/javascript">
  var start = false
   WebSocketTest();
   var minutesLabel = document.getElementById("minutes");
    var secondsLabel = document.getElementById("seconds");
    var totalSeconds = 0;

    function setTime() {
      ++totalSeconds;
      secondsLabel.innerHTML = pad(totalSeconds % 60);
      minutesLabel.innerHTML = pad(parseInt(totalSeconds / 60));
    }

    function pad(val) {
      var valString = val + "";
      if (valString.length < 2) {
        return "0" + valString;
      } else {
        return valString;
      }
    
    }
    var add = null
   function WebSocketTest() {


       if ("WebSocket" in window) {
           var ws_stomp_display     = new SockJS( 'http://152.118.148.103:15674/stomp');

           var mq_queue_display2    = "/exchange/timer/stream";
  
            var client_display = Stomp.over(ws_stomp_display);
           var mq_queue_display    = "/exchange/compress/stream";

           var on_connect_display = function() {
             console.log('connected');
             client_display.subscribe(mq_queue_display, on_message_display);
             client_display.subscribe(mq_queue_display2, on_message_display2);
           };

           var on_error_display =  function() {
             console.log('error');
           };

           var on_message_display = function(m) {
             if(start == false) {
              var asd = setInterval(setTime, 1000);
              add = asd
              start = true
             }
             if(JSON.parse(m.body)["status"] == "2") {
              add
              clearInterval(add)
             }
             $('#jam').html(m.body);
           };    


           var on_message_display2 = function(m) {
             $('#jam2').html(m.body);
           };  
           client_display.connect('1406559036', '1406559036', on_connect_display, on_error_display, '/1406559036');


          

       } else {
          // The browser doesn't support WebSocket
          alert("WebSocket NOT supported by your Browser!");
       }
   }
 </script>

</script>
</body>
</html>
