<label>a</label><input name="a" id="a"><br/>
<label>b</label><input name="b" id="b"><br/>
<label>c</label><input name="c" id="c"><br/>
<label>d</label><input name="d" id="d"><br/>
<button id="button" onclick="submit()">COMPUTE</button>

<br/>
<br/>
<br/>
<label>result</label>
<textarea id="result"></textarea>

<script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous"></script>
<script>
	function submit() {
		a_ = $("#a").val()
		b_ = $("#b").val()
		c_ = $("#c").val()
		d_ = $("#d").val()
		$.ajax({
			type : "GET",
			url : "http://host20012.proxy.infralabs.cs.ui.ac.id/orches/total",
			timeout : 0,
			data : {a:a_, b:b_, c:c_, d:d_},
			success : function(data)	{
				total = data["total"]
				$("#result").val(total)
			},
			fail : function(data)	{
				$("#result").val("FAIL")
			}
		})
	}
</script>