<html>
<head>
<style>
.bar {
  width: 300px;
}

#progress {
  background: #eee;
  border: 1px solid #222;
}
#progressbar {
  width: 0px;
  height: 24px;
  background: #333;
}
</style>
</head>
<body>
  <form id="upload" enctype="multipart/form-data"
      action="/uploads" method="post"
      onsubmit="openProgressBar(); return true;">
        {% csrf_token %}
    <input type="hidden" name="MAX_FILE_SIZE" value="30000000"  />
    <input name="userfile" type="file" label="fileupload" />
    <input type="submit" value="Send File" />
    </form>

    <div id="uploading">
  <div id="progress" class="bar">
    <div id="progressbar"></div>
    <div id="eta"></div>
  </div>
</div>
<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
 <script src="http://malsup.github.com/jquery.form.js"></script>
<script>
interval = null;
progress_bar_id = "progressbar"
function openProgressBar() {
/* generate random progress-id */
uuid = "";
for (i = 0; i < 32; i++) {
 uuid += Math.floor(Math.random() * 16).toString(16);
}
/* patch the form-action tag to include the progress-id */
document.getElementById("upload").action="/uploads?X-Progress-ID=" + uuid;

/* call the progress-updater every 1000ms */
interval = window.setInterval(
  function () {
    fetch(uuid);
  },
  1000
);
}
ctr = 0;
function fetch(uuid) {
   ctr++;
  $.ajax({
    type: "GET",
    url: "/progress",
    dataType: "json",
    beforeSend: function(xhr) {
      xhr.setRequestHeader("X-Progress-ID", uuid);
      // window.console.log("setting headers: "+uuid)
    },
    complete: function(xhr, statusText) {
      // window.console.log("complete!: "+statusText);
    },
    error: function(xhr, statusText, loc)  {
      console.log(xhr)
      console.log(statusText)
      console.log(loc)
    },
    success: function(upload) {
      console.log(upload)
      /* change the width if the inner progress-bar */
      if (upload.state == 'uploading') {
        bar = $('#'+progress_bar_id);
        w = Math.floor((upload.received / upload.size)*100);
        bar.width(w + '%');

        // Panda specific
        bar.show();

        // Update ETA
        eta_seconds = ((upload.size / upload.received) * ctr) - ctr;

        if (eta_seconds < 60) {
          eta_str = "under a minute"
        } else if (eta_seconds < (60*5)) {
          eta_str = "a few minutes"
        } else if (eta_seconds < (60*15)) {
          eta_str = "fifteen minutes"
        } else if (eta_seconds < (60*30)) {
          eta_str = "about half an hour"
        } else if (eta_seconds < (60*45)) {
          eta_str = "around 45 minutes"
        } else if (eta_seconds < (60*60)) {
          eta_str = "less than an hour"
        } else if (eta_seconds > (60*60)) {
          eta_str = "over an hour";
        } else if (eta_seconds > (60*60*2)) {
          eta_str = "a few hours";
        } else if (eta_seconds > (60*60*3)) {
          eta_str = "several hours";
        } else if (eta_seconds > (60*60*6)) {
          eta_str = "quite a long time... at least 6 hours";
        } else {
          eta_str = "";
        }

        $("#eta").html(eta_str);
      } else if (upload.state == 'error') {
        $('#uploader').show();
        $('#uploading').hide();
        $('#error').show();
        if (upload.status == 413) {
          $('#error_too_large').show();
        } else {
          $('#error_unknown').show();
        }
      }
    }
  });
}

</script>
</body>
</html>
