<h2>{{ip}}</h2>
<form method="POST" action="/auth/login">
	{% csrf_token %}
	<label>Username :</label><br/>
	<input name="username" placeholder="username"><br/>
	<label>Password :</label><br/>
	<input name="password" placeholder="password" type="password"><br/>
	<button>Login</button>
</form>