<h2>{{ip}}</h2>
<form method="POST" action="/auth/register">
	{% csrf_token %}
	<label>Display Name :</label><br/>
	<input name="display" placeholder="display name"><br/>
	<button>Register</button>
</form>